In [2]:
import pandas as pd
data = pd.read_csv('nba.csv')

data_bottom = data.tail()
data_bottom

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
n = 12

series = data['Salary']
bottom = series.tail(n=n)

bottom

446    12000000.0
447     1175880.0
448    15409570.0
449     1348440.0
450     2050000.0
451      981348.0
452     2239800.0
453     2433333.0
454      900000.0
455     2900000.0
456      947276.0
457           NaN
Name: Salary, dtype: float64

In [6]:
data.dropna(inplace = True)

perc = [.20, .40, .60, .80]

include = ['object', 'float', 'int']
desc = data.describe(percentiles = perc, include=include)

desc

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
count,364,364,364.000000,364,364.000000,364,364.000000,364,3.640000e+02
unique,364,30,NaN,5,NaN,17,NaN,115,NaN
top,Avery Bradley,New Orleans Pelicans,NaN,SG,NaN,6-9,NaN,Kentucky,NaN
freq,1,16,NaN,87,NaN,49,NaN,22,NaN
mean,NaN,NaN,16.829670,NaN,26.615385,NaN,219.785714,NaN,4.620311e+06
std,NaN,NaN,14.994162,NaN,4.233591,NaN,24.793099,NaN,5.119716e+06
min,NaN,NaN,0.000000,NaN,19.000000,NaN,161.000000,NaN,5.572200e+04
20%,NaN,NaN,4.000000,NaN,23.000000,NaN,195.000000,NaN,9.472760e+05
40%,NaN,NaN,9.000000,NaN,25.000000,NaN,212.000000,NaN,1.638754e+06
50%,NaN,NaN,12.000000,NaN,26.000000,NaN,220.000000,NaN,2.515440e+06
60%,NaN,NaN,17.000000,NaN,27.000000,NaN,228.000000,NaN,3.429934e+06
80%,NaN,NaN,30.000000,NaN,30.000000,NaN,242.400000,NaN,7.838202e+06
max,NaN,NaN,99.000000,NaN,40.000000,NaN,279.000000,NaN,2.287500e+07

In [8]:
desc = data['Name'].describe()
desc

count               364
unique              364
top       Avery Bradley
freq                  1
Name: Name, dtype: object

In [16]:
gfg = pd.DataFrame(data['Weight']).head()

# gfg.to_numpy()
# gfg.to_numpy(dtype= 'float32')

type(gfg.to_numpy())

numpy.ndarray

In [19]:
data.dropna(inplace=True)
fgf = pd.Series(data['Weight']).head()

print(fgf)
type(fgf.to_numpy())

0    180.0
1    235.0
3    185.0
6    235.0
7    238.0
Name: Weight, dtype: float64

numpy.ndarray

In [20]:
sr = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio'])
index_ = ['City 1', 'City 2', 'City 3', 'City 4', 'City 5'] 

sr.index = index_

sr

City 1    New York
City 2     Chicago
City 3     Toronto
City 4      Lisbon
City 5         Rio
dtype: object

In [30]:
sr = pd.Series([11, 21, 8, 18, 65, 18, 32, 10, 5, 32, None])

index_ = pd.date_range('2010-10-09 08:45',periods =11, freq = 'Y')

sr.index = index_
print(sr)

ValueError: Length mismatch: Expected axis has 11 elements, new values have 3654 elements